.bg-custom {
    background-image: url('../assets/auth/bg-login.svg');
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
}

.parallax-container {
    position: relative;
    background-image: url('/guest/assets/image/info/bg-website.jpg'); 
    background-position: center;
    background-attachment: fixed; 
    background-blend-mode: overlay; 
    background-color: rgba(255, 94, 0, 0.827); 
    border-radius: 24px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    width: auto; /* Tambahkan properti ini untuk memberikan default */
}

@media (max-width: 768px) { /* Targetkan ukuran layar mobile */
    .content {
        width: 90%; /* Atur lebar sesuai kebutuhan untuk mobile */
    }
}


.section {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}